<!doctype html>
<html lang=""en>
<head>
    <meta charset="UTF-8">
    <title>Oui</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="left title">Oui</a>
            <ul class="right">
                <li><a href="/message">Message</a></li>
                <li><a href="/profil">Profil</a></li>
                <li><a href="/inscription">Inscription</a></li>
                <li><a href="/liste">Liste</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>

<body  class="padding">
    <div class="container">
        {{{ body }}}
    </div>
</body>
</html>