<!doctype html>
<html lang=""en>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Oui</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/inscription">Inscription</a></li>
                <li><a href="/liste">Liste</a></li>
            </ul>
        </div>
    </nav>
</div>

<body>
    <div class="container">
        {{{ body }}}
    </div>
</body>
</html>