<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oui</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</head>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="left title">Oui</a>
            <ul class="right">
                <li><a href="/notif">Notifications<span id="newbadge" class="new badge">0</span></a></li>
                <li><a href="/message">Message<span id="newbadge2" class="new badge">0</span></a></li>
                <li><a href="/profil">Profil</a></li>
                <li><a href="/inscription">Inscription</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <img class="burger" src="/public/Burger-Free-Download-PNG.png">
    </nav>
</div>

<body  class="padding">
<div class="container">
    {{{ body }}}
</div>

<footer class="page-footer foot">
    <div class="footer-copyright">
        <div class="container">
            © 2017 nromptea@student.42.fr
        </div>
    </div>
</footer>

</body>
</html>

<script src="/socket.io/socket.io.js"></script>

<script>

    handleMyBurger();
    handleResize();


    function handleMyBurger () {
        $('.burger').bind("click", function () {
           if ($('nav').height() == 56) {
               $('nav').css ({'height': '170px'});
           }
           else
               $('nav').css ({'height': '56px'});
        });
    }

    function handleResize () {
        $(window).resize(function() {
            if ($(window).width() > 643)
                $('nav').css ({'height': '56px'});
        });
    }

    function sendToast () {
        var msg = Number(document.getElementById("newbadge").textContent) + 1;
        document.getElementById("newbadge").textContent=String(msg);
    }
    function sendToastmsg () {
        var msg = Number(document.getElementById("newbadge2").textContent) + 1;
        document.getElementById("newbadge2").textContent=String(msg);
    }
    var socket = io();
    var xir;
    $.ajax({
        'method'     : 'GET',
        'url'       : '/getId',
        'success'   : function(data) {
            if (data != "error") {
                xir = data._id;
                socket.on(xir, function (msg) {
                    if (window.location.pathname.slice(0, 9) != "/message/" && msg.chat) {
                        Materialize.toast(msg.msg, 6000, '', sendToastmsg());
                    }
                    else if (!msg.chat)
                        Materialize.toast(msg.msg, 6000, '', sendToast());
                });
            }
        }
    });
    $.ajax({
        'method' : 'GET',
        'url'   : '/getId',
        'success' : function (data) {
            if (data != "error") {
                document.getElementById("newbadge").textContent = String(data.nb_notif);
                document.getElementById("newbadge2").textContent = String(data.nb_msg);
                socket.emit('which_user', data._id);
            }
        }
    });
</script>