<form action="/login" method="post" style="margin-top: 200px;">
    <input type="text" name="email" autofocus required placeholder="Email"><br />
    <input type="password" name="mdp" required placeholder="Mot de passe">
    <button class="btn btn-primary" type="submit">Login</button>
</form>
<br />
Pas de compte ? <a href="/inscription">Inscrivez vous !</a>