<div id="messages"></div>
<form action="">
    <input id="m" autocomplete="off" />
    <input type="hidden" id="exp" value="{{exp}}" name="exp" />
</form>
<button>Send</button>

<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    $('form').submit(function(){
        socket.emit('chat message',{msg: $('#m').val(), exp: $('#exp').val() });
        $('#m').val('');
        return false;
    });
    socket.on($('#exp').val(), function(msg){
        $('#messages').append('<p>' + msg + '</p>');
        var len = $('#messages > p').length;
        $('#messages').scrollTop(len * 100);
    });
</script>