<a href="/">Home</a>

<h1>Profil</h1>

<img src="http://kordouane.k.o.pic.centerblog.net/cbac2be3.png"></img>
<div>Nom: {{ items.nom }}</div>
<div>Prenom: {{ items.prenom }}</div>
<div>Age: {{ items.age }}</div>
<div>ID: {{ items._id }}</div>