.photo {
    width: 400px;
    height: auto;
}

.padding {
    padding-bottom: 25px;
}

.oui {
    position: relative;
}

#messages {
    height: 500px;
    overflow-y: scroll;
}

#messages > p {
    display: block;
    width: inherit;
    height: auto;
    overflow: hidden;
}

.match_img {
    max-width: 200px;
}

.title {
    font-size: 3em;
}